// Common

$break__small: 400px;
$break__medium: 600px;
$break__large: 980px;
$break__xlarge: 1400px;

$color__white: #ffffff;
$color__black-500: #1e1f21;
$color__black: #111111;
$color__black-300: #00000099;
$color__blue: #008cbf;
$color__blue-600: #005a7a;
$color__blue-800: #2a323e;
$color__blue-900: #21252b;
$color__indigo: #394394;
$color__purple: #a97ff0;
$color__green: #008489;
$color__yellow: #febe14;
$color__red: #ff5a5f;
$color__gray: #827f7f;
$color__gray-200: #fafafa;
$color__gray-300: #e9eced;

$border__radius__base: 4px;
$border__radius__big: 6px;
$border__radius__full: 50%;
$border__radius__sides: 9999px;

$space__1: 4px;
$space__2: 8px;
$space__3: 16px;
$space__4: 24px;
$space__5: 32px;
$space__6: 64px;
$space__7: 128px;
$space__8: 256px;
$space__9: 512px;
$space__10: 736px;

$line-height__even: 1;
$line-height__solid: 1.1;
$line-height__title: 1.25;
$line-height__copy: 1.45;
$line-height__base: 1.6;

$f1: 50px;
$f2: 38px;
$f3: 30px;
$f4: 22px;
$f5: 19px;
$f6: 17px;
$f7: 14px;
$f8: 12px;
$f9: 11px;

$sans: Inter,
Helvetica,
"Apple Color Emoji",
Arial,
sans-serif,
"Segoe UI Emoji",
"Segoe UI Symbol";

$wrap__max-width: 946px;
