@import '../../assets/scss/config.scss';

.button {
    border: 1px solid #3D8BB6;
    border-radius: 3px;
    background: #54A9D7;
    padding: 10px 14px;
    line-height: 1;
    color: white;
    font-size: $f7;
    font-family: $sans;
    transition: background 120ms ease-in 0s;

    &:hover {
        background: #3D8BB6;
        transition: background 120ms ease-in 0s;
    }
}
