@import '../../assets/scss/config.scss';

.border {
    position: relative;

    &:before {
        content: "";
        height: 1px;
        background: $color__gray-300;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
    }
}

.icon {
    box-shadow: rgba(84, 70, 35, 0.08) 0px 2px 4px, rgba(84, 70, 35, 0.08) 0px 1px 3px;
}
