@import '../../assets/scss/config.scss';

.border {
    position: relative;

    &:before {
        content: "";
        height: 1px;
        background: $color__gray-300;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
    }
}
