@import '../../assets/scss/config.scss';
@import '../../assets/scss/core/mixin.scss';

.divider {
    height: 74px;
    width: 1px;
    background: $color__gray-300;
    margin-left: $space__2;
    margin-right: $space__2;

    @include respond-above($break__large) {
        height: 108px;
    }
}
