@import '../../assets/scss/core/config.scss';

.wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: $space__4;
    padding-right: $space__4;
}

.normal {
    max-width: 940px;
}

.wide {
    max-width: 1300px;
}
