@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/asset/font/Inter-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('/asset/font/Inter-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("/asset/font/Inter-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("/asset/font/Inter-Bold.woff2") format("woff2");
    font-display: swap;
}
