.fw2 {
    font-weight: 200;
}

.fw3 {
    font-weight: 300;
}

.fw4 {
    font-weight: 400;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

.fw8 {
    font-weight: 800;
}

.fw9 {
    font-weight: 900;
}

@include respond-above($break__small) {
    .s_fw2 {
        font-weight: 200;
    }

    .s_fw3 {
        font-weight: 300;
    }

    .s_fw4 {
        font-weight: 400;
    }

    .s_fw5 {
        font-weight: 500;
    }

    .s_fw6 {
        font-weight: 600;
    }

    .s_fw7 {
        font-weight: 700;
    }

    .s_fw8 {
        font-weight: 800;
    }

    .s_fw9 {
        font-weight: 900;
    }
}

@include respond-above($break__medium) {
    .m_fw2 {
        font-weight: 200;
    }

    .m_fw3 {
        font-weight: 300;
    }

    .m_fw4 {
        font-weight: 400;
    }

    .m_fw5 {
        font-weight: 500;
    }

    .m_fw6 {
        font-weight: 600;
    }

    .m_fw7 {
        font-weight: 700;
    }

    .m_fw8 {
        font-weight: 800;
    }

    .m_fw9 {
        font-weight: 900;
    }
}

@include respond-above($break__large) {
    .l_fw2 {
        font-weight: 200;
    }

    .l_fw3 {
        font-weight: 300;
    }

    .l_fw4 {
        font-weight: 400;
    }

    .l_fw5 {
        font-weight: 500;
    }

    .l_fw6 {
        font-weight: 600;
    }

    .l_fw7 {
        font-weight: 700;
    }

    .l_fw8 {
        font-weight: 800;
    }

    .l_fw9 {
        font-weight: 900;
    }
}
