@import 'background-position/index';
@import 'background-size/index';
@import 'border/index';
@import 'border-color/index';
@import 'border-radius/index';
@import 'border-style/index';
@import 'border-width/index';
@import 'box-shadow/index';
@import 'box-sizing/index';
@import 'color/index';
@import 'coordinates/index';
@import 'display/index';
@import 'flexbox/index';
@import 'font-size/index';
@import 'font-weight/index';
@import 'grid/index';
@import 'height/index';
@import 'letter-spacing/index';
@import 'line-height/index';
@import 'margin/index';
@import 'max-width/index';
@import 'opacity/index';
@import 'overflow/index';
@import 'padding/index';
@import 'position/index';
@import 'text-align/index';
@import 'text-decoration/index';
@import 'text-transform/index';
@import 'truncate/index';
@import 'vertical-align/index';
@import 'visually-hidden/index';
@import 'white-space/index';
@import 'width/index';
@import 'word-break/index';
@import 'z-index/index';
