.ma0 {
    margin: 0;
}

.ma1 {
    margin: $space__1;
}

.ma2 {
    margin: $space__2;
}

.ma3 {
    margin: $space__3;
}

.ma4 {
    margin: $space__4;
}

.ma5 {
    margin: $space__5;
}

.ma6 {
    margin: $space__6;
}

.ma7 {
    margin: $space__7;
}

.ma8 {
    margin: $space__8;
}

.ml0 {
    margin-left: 0;
}

.ml1 {
    margin-left: $space__1;
}

.ml2 {
    margin-left: $space__2;
}

.ml3 {
    margin-left: $space__3;
}

.ml4 {
    margin-left: $space__4;
}

.ml5 {
    margin-left: $space__5;
}

.ml6 {
    margin-left: $space__6;
}

.ml7 {
    margin-left: $space__7;
}

.ml8 {
    margin-left: $space__8;
}

.mr0 {
    margin-right: 0;
}

.mr1 {
    margin-right: $space__1;
}

.mr2 {
    margin-right: $space__2;
}

.mr3 {
    margin-right: $space__3;
}

.mr4 {
    margin-right: $space__4;
}

.mr5 {
    margin-right: $space__5;
}

.mr6 {
    margin-right: $space__6;
}

.mr7 {
    margin-right: $space__7;
}

.mr8 {
    margin-right: $space__8;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: $space__1;
}

.mb2 {
    margin-bottom: $space__2;
}

.mb3 {
    margin-bottom: $space__3;
}

.mb4 {
    margin-bottom: $space__4;
}

.mb5 {
    margin-bottom: $space__5;
}

.mb6 {
    margin-bottom: $space__6;
}

.mb7 {
    margin-bottom: $space__7;
}

.mb8 {
    margin-bottom: $space__8;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: $space__1;
}

.mt2 {
    margin-top: $space__2;
}

.mt3 {
    margin-top: $space__3;
}

.mt4 {
    margin-top: $space__4;
}

.mt5 {
    margin-top: $space__5;
}

.mt6 {
    margin-top: $space__6;
}

.mt7 {
    margin-top: $space__7;
}

.mt8 {
    margin-top: $space__8;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv1 {
    margin-top: $space__1;
    margin-bottom: $space__1;
}

.mv2 {
    margin-top: $space__2;
    margin-bottom: $space__2;
}

.mv3 {
    margin-top: $space__3;
    margin-bottom: $space__3;
}

.mv4 {
    margin-top: $space__4;
    margin-bottom: $space__4;
}

.mv5 {
    margin-top: $space__5;
    margin-bottom: $space__5;
}

.mv6 {
    margin-top: $space__6;
    margin-bottom: $space__6;
}

.mv7 {
    margin-top: $space__7;
    margin-bottom: $space__7;
}

.mv8 {
    margin-top: $space__8;
    margin-bottom: $space__8;
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}

.mh1 {
    margin-left: $space__1;
    margin-right: $space__1;
}

.mh2 {
    margin-left: $space__2;
    margin-right: $space__2;
}

.mh3 {
    margin-left: $space__3;
    margin-right: $space__3;
}

.mh4 {
    margin-left: $space__4;
    margin-right: $space__4;
}

.mh5 {
    margin-left: $space__5;
    margin-right: $space__5;
}

.mh6 {
    margin-left: $space__6;
    margin-right: $space__6;
}

.mh7 {
    margin-left: $space__7;
    margin-right: $space__7;
}

.mh8 {
    margin-left: $space__8;
    margin-right: $space__8;
}

.-ma1 {
    margin: -4px;
}

.-ma2 {
    margin: -$space__2;
}

.-ma3 {
    margin: -$space__3;
}

.-ma4 {
    margin: -$space__4;
}

.-ma5 {
    margin: -$space__5;
}

.-ma6 {
    margin: -$space__6;
}

.-ma7 {
    margin: -$space__7;
}

.-ma8 {
    margin: -$space__8;
}

.-ml1 {
    margin-left: -4px;
}

.-ml2 {
    margin-left: -$space__2;
}

.-ml3 {
    margin-left: -$space__3;
}

.-ml4 {
    margin-left: -$space__4;
}

.-ml5 {
    margin-left: -$space__5;
}

.-ml6 {
    margin-left: -$space__6;
}

.-ml7 {
    margin-left: -$space__7;
}

.-ml8 {
    margin-left: -$space__8;
}

.-mr1 {
    margin-right: -4px;
}

.-mr2 {
    margin-right: -$space__2;
}

.-mr3 {
    margin-right: -$space__3;
}

.-mr4 {
    margin-right: -$space__4;
}

.-mr5 {
    margin-right: -$space__5;
}

.-mr6 {
    margin-right: -$space__6;
}

.-mr7 {
    margin-right: -$space__7;
}

.-mr8 {
    margin-right: -$space__8;
}

.-mb1 {
    margin-bottom: -4px;
}

.-mb2 {
    margin-bottom: -$space__2;
}

.-mb3 {
    margin-bottom: -$space__3;
}

.-mb4 {
    margin-bottom: -$space__4;
}

.-mb5 {
    margin-bottom: -$space__5;
}

.-mb6 {
    margin-bottom: -$space__6;
}

.-mb7 {
    margin-bottom: -$space__7;
}

.-mb8 {
    margin-bottom: -$space__8;
}

.-mt1 {
    margin-top: -4px;
}

.-mt2 {
    margin-top: -$space__2;
}

.-mt3 {
    margin-top: -$space__3;
}

.-mt4 {
    margin-top: -$space__4;
}

.-mt5 {
    margin-top: -$space__5;
}

.-mt6 {
    margin-top: -$space__6;
}

.-mt7 {
    margin-top: -$space__7;
}

.-mt8 {
    margin-top: -$space__8;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.ma-auto {
    margin: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

@include respond-above($break__small) {
    .s_ma0 {
        margin: 0;
    }

    .s_ma1 {
        margin: $space__1;
    }

    .s_ma2 {
        margin: $space__2;
    }

    .s_ma3 {
        margin: $space__3;
    }

    .s_ma4 {
        margin: $space__4;
    }

    .s_ma5 {
        margin: $space__5;
    }

    .s_ma6 {
        margin: $space__6;
    }

    .s_ma7 {
        margin: $space__7;
    }

    .s_ma8 {
        margin: $space__8;
    }

    .s_ml0 {
        margin-left: 0;
    }

    .s_ml1 {
        margin-left: $space__1;
    }

    .s_ml2 {
        margin-left: $space__2;
    }

    .s_ml3 {
        margin-left: $space__3;
    }

    .s_ml4 {
        margin-left: $space__4;
    }

    .s_ml5 {
        margin-left: $space__5;
    }

    .s_ml6 {
        margin-left: $space__6;
    }

    .s_ml7 {
        margin-left: $space__7;
    }

    .s_ml8 {
        margin-left: $space__8;
    }

    .s_mr0 {
        margin-right: 0;
    }

    .s_mr1 {
        margin-right: $space__1;
    }

    .s_mr2 {
        margin-right: $space__2;
    }

    .s_mr3 {
        margin-right: $space__3;
    }

    .s_mr4 {
        margin-right: $space__4;
    }

    .s_mr5 {
        margin-right: $space__5;
    }

    .s_mr6 {
        margin-right: $space__6;
    }

    .s_mr7 {
        margin-right: $space__7;
    }

    .s_mr8 {
        margin-right: $space__8;
    }

    .s_mb0 {
        margin-bottom: 0;
    }

    .s_mb1 {
        margin-bottom: $space__1;
    }

    .s_mb2 {
        margin-bottom: $space__2;
    }

    .s_mb3 {
        margin-bottom: $space__3;
    }

    .s_mb4 {
        margin-bottom: $space__4;
    }

    .s_mb5 {
        margin-bottom: $space__5;
    }

    .s_mb6 {
        margin-bottom: $space__6;
    }

    .s_mb7 {
        margin-bottom: $space__7;
    }

    .s_mb8 {
        margin-bottom: $space__8;
    }

    .s_mt0 {
        margin-top: 0;
    }

    .s_mt1 {
        margin-top: $space__1;
    }

    .s_mt2 {
        margin-top: $space__2;
    }

    .s_mt3 {
        margin-top: $space__3;
    }

    .s_mt4 {
        margin-top: $space__4;
    }

    .s_mt5 {
        margin-top: $space__5;
    }

    .s_mt6 {
        margin-top: $space__6;
    }

    .s_mt7 {
        margin-top: $space__7;
    }

    .s_mt8 {
        margin-top: $space__8;
    }

    .s_mv0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .s_mv1 {
        margin-top: $space__1;
        margin-bottom: $space__1;
    }

    .s_mv2 {
        margin-top: $space__2;
        margin-bottom: $space__2;
    }

    .s_mv3 {
        margin-top: $space__3;
        margin-bottom: $space__3;
    }

    .s_mv4 {
        margin-top: $space__4;
        margin-bottom: $space__4;
    }

    .s_mv5 {
        margin-top: $space__5;
        margin-bottom: $space__5;
    }

    .s_mv6 {
        margin-top: $space__6;
        margin-bottom: $space__6;
    }

    .s_mv7 {
        margin-top: $space__7;
        margin-bottom: $space__7;
    }

    .s_mv8 {
        margin-top: $space__8;
        margin-bottom: $space__8;
    }

    .s_mh0 {
        margin-left: 0;
        margin-right: 0;
    }

    .s_mh1 {
        margin-left: $space__1;
        margin-right: $space__1;
    }

    .s_mh2 {
        margin-left: $space__2;
        margin-right: $space__2;
    }

    .s_mh3 {
        margin-left: $space__3;
        margin-right: $space__3;
    }

    .s_mh4 {
        margin-left: $space__4;
        margin-right: $space__4;
    }

    .s_mh5 {
        margin-left: $space__5;
        margin-right: $space__5;
    }

    .s_mh6 {
        margin-left: $space__6;
        margin-right: $space__6;
    }

    .s_mh7 {
        margin-left: $space__7;
        margin-right: $space__7;
    }

    .s_mh8 {
        margin-left: $space__8;
        margin-right: $space__8;
    }

    .s_-ma1 {
        margin: -4px;
    }

    .s_-ma2 {
        margin: -$space__2;
    }

    .s_-ma3 {
        margin: -$space__3;
    }

    .s_-ma4 {
        margin: -$space__4;
    }

    .s_-ma5 {
        margin: -$space__5;
    }

    .s_-ma6 {
        margin: -$space__6;
    }

    .s_-ma7 {
        margin: -$space__7;
    }

    .s_-ma8 {
        margin: -$space__8;
    }

    .s_-ml1 {
        margin-left: -4px;
    }

    .s_-ml2 {
        margin-left: -$space__2;
    }

    .s_-ml3 {
        margin-left: -$space__3;
    }

    .s_-ml4 {
        margin-left: -$space__4;
    }

    .s_-ml5 {
        margin-left: -$space__5;
    }

    .s_-ml6 {
        margin-left: -$space__6;
    }

    .s_-ml7 {
        margin-left: -$space__7;
    }

    .s_-ml8 {
        margin-left: -$space__8;
    }

    .s_-mr1 {
        margin-right: -4px;
    }

    .s_-mr2 {
        margin-right: -$space__2;
    }

    .s_-mr3 {
        margin-right: -$space__3;
    }

    .s_-mr4 {
        margin-right: -$space__4;
    }

    .s_-mr5 {
        margin-right: -$space__5;
    }

    .s_-mr6 {
        margin-right: -$space__6;
    }

    .s_-mr7 {
        margin-right: -$space__7;
    }

    .s_-mr8 {
        margin-right: -$space__8;
    }

    .s_-mb1 {
        margin-bottom: -4px;
    }

    .s_-mb2 {
        margin-bottom: -$space__2;
    }

    .s_-mb3 {
        margin-bottom: -$space__3;
    }

    .s_-mb4 {
        margin-bottom: -$space__4;
    }

    .s_-mb5 {
        margin-bottom: -$space__5;
    }

    .s_-mb6 {
        margin-bottom: -$space__6;
    }

    .s_-mb7 {
        margin-bottom: -$space__7;
    }

    .s_-mb8 {
        margin-bottom: -$space__8;
    }

    .s_-mt1 {
        margin-top: -4px;
    }

    .s_-mt2 {
        margin-top: -$space__2;
    }

    .s_-mt3 {
        margin-top: -$space__3;
    }

    .s_-mt4 {
        margin-top: -$space__4;
    }

    .s_-mt5 {
        margin-top: -$space__5;
    }

    .s_-mt6 {
        margin-top: -$space__6;
    }

    .s_-mt7 {
        margin-top: -$space__7;
    }

    .s_-mt8 {
        margin-top: -$space__8;
    }

    .s_center {
        margin-right: auto;
        margin-left: auto;
    }

    .s_ma-auto {
        margin: auto;
    }

    .s_mr-auto {
        margin-right: auto;
    }

    .s_ml-auto {
        margin-left: auto;
    }

    .s_mt-auto {
        margin-top: auto;
    }

    .s_mb-auto {
        margin-bottom: auto;
    }
}

@include respond-above($break__medium) {
    .m_ma0 {
        margin: 0;
    }

    .m_ma1 {
        margin: $space__1;
    }

    .m_ma2 {
        margin: $space__2;
    }

    .m_ma3 {
        margin: $space__3;
    }

    .m_ma4 {
        margin: $space__4;
    }

    .m_ma5 {
        margin: $space__5;
    }

    .m_ma6 {
        margin: $space__6;
    }

    .m_ma7 {
        margin: $space__7;
    }

    .m_ma8 {
        margin: $space__8;
    }

    .m_ml0 {
        margin-left: 0;
    }

    .m_ml1 {
        margin-left: $space__1;
    }

    .m_ml2 {
        margin-left: $space__2;
    }

    .m_ml3 {
        margin-left: $space__3;
    }

    .m_ml4 {
        margin-left: $space__4;
    }

    .m_ml5 {
        margin-left: $space__5;
    }

    .m_ml6 {
        margin-left: $space__6;
    }

    .m_ml7 {
        margin-left: $space__7;
    }

    .m_ml8 {
        margin-left: $space__8;
    }

    .m_mr0 {
        margin-right: 0;
    }

    .m_mr1 {
        margin-right: $space__1;
    }

    .m_mr2 {
        margin-right: $space__2;
    }

    .m_mr3 {
        margin-right: $space__3;
    }

    .m_mr4 {
        margin-right: $space__4;
    }

    .m_mr5 {
        margin-right: $space__5;
    }

    .m_mr6 {
        margin-right: $space__6;
    }

    .m_mr7 {
        margin-right: $space__7;
    }

    .m_mr8 {
        margin-right: $space__8;
    }

    .m_mb0 {
        margin-bottom: 0;
    }

    .m_mb1 {
        margin-bottom: $space__1;
    }

    .m_mb2 {
        margin-bottom: $space__2;
    }

    .m_mb3 {
        margin-bottom: $space__3;
    }

    .m_mb4 {
        margin-bottom: $space__4;
    }

    .m_mb5 {
        margin-bottom: $space__5;
    }

    .m_mb6 {
        margin-bottom: $space__6;
    }

    .m_mb7 {
        margin-bottom: $space__7;
    }

    .m_mb8 {
        margin-bottom: $space__8;
    }

    .m_mt0 {
        margin-top: 0;
    }

    .m_mt1 {
        margin-top: $space__1;
    }

    .m_mt2 {
        margin-top: $space__2;
    }

    .m_mt3 {
        margin-top: $space__3;
    }

    .m_mt4 {
        margin-top: $space__4;
    }

    .m_mt5 {
        margin-top: $space__5;
    }

    .m_mt6 {
        margin-top: $space__6;
    }

    .m_mt7 {
        margin-top: $space__7;
    }

    .m_mt8 {
        margin-top: $space__8;
    }

    .m_mv0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .m_mv1 {
        margin-top: $space__1;
        margin-bottom: $space__1;
    }

    .m_mv2 {
        margin-top: $space__2;
        margin-bottom: $space__2;
    }

    .m_mv3 {
        margin-top: $space__3;
        margin-bottom: $space__3;
    }

    .m_mv4 {
        margin-top: $space__4;
        margin-bottom: $space__4;
    }

    .m_mv5 {
        margin-top: $space__5;
        margin-bottom: $space__5;
    }

    .m_mv6 {
        margin-top: $space__6;
        margin-bottom: $space__6;
    }

    .m_mv7 {
        margin-top: $space__7;
        margin-bottom: $space__7;
    }

    .m_mv8 {
        margin-top: $space__8;
        margin-bottom: $space__8;
    }

    .m_mh0 {
        margin-left: 0;
        margin-right: 0;
    }

    .m_mh1 {
        margin-left: $space__1;
        margin-right: $space__1;
    }

    .m_mh2 {
        margin-left: $space__2;
        margin-right: $space__2;
    }

    .m_mh3 {
        margin-left: $space__3;
        margin-right: $space__3;
    }

    .m_mh4 {
        margin-left: $space__4;
        margin-right: $space__4;
    }

    .m_mh5 {
        margin-left: $space__5;
        margin-right: $space__5;
    }

    .m_mh6 {
        margin-left: $space__6;
        margin-right: $space__6;
    }

    .m_mh7 {
        margin-left: $space__7;
        margin-right: $space__7;
    }

    .m_mh8 {
        margin-left: $space__8;
        margin-right: $space__8;
    }

    .m_-ma1 {
        margin: -4px;
    }

    .m_-ma2 {
        margin: -$space__2;
    }

    .m_-ma3 {
        margin: -$space__3;
    }

    .m_-ma4 {
        margin: -$space__4;
    }

    .m_-ma5 {
        margin: -$space__5;
    }

    .m_-ma6 {
        margin: -$space__6;
    }

    .m_-ma7 {
        margin: -$space__7;
    }

    .m_-ma8 {
        margin: -$space__8;
    }

    .m_-ml1 {
        margin-left: -4px;
    }

    .m_-ml2 {
        margin-left: -$space__2;
    }

    .m_-ml3 {
        margin-left: -$space__3;
    }

    .m_-ml4 {
        margin-left: -$space__4;
    }

    .m_-ml5 {
        margin-left: -$space__5;
    }

    .m_-ml6 {
        margin-left: -$space__6;
    }

    .m_-ml7 {
        margin-left: -$space__7;
    }

    .m_-ml8 {
        margin-left: -$space__8;
    }

    .m_-mr1 {
        margin-right: -4px;
    }

    .m_-mr2 {
        margin-right: -$space__2;
    }

    .m_-mr3 {
        margin-right: -$space__3;
    }

    .m_-mr4 {
        margin-right: -$space__4;
    }

    .m_-mr5 {
        margin-right: -$space__5;
    }

    .m_-mr6 {
        margin-right: -$space__6;
    }

    .m_-mr7 {
        margin-right: -$space__7;
    }

    .m_-mr8 {
        margin-right: -$space__8;
    }

    .m_-mb1 {
        margin-bottom: -4px;
    }

    .m_-mb2 {
        margin-bottom: -$space__2;
    }

    .m_-mb3 {
        margin-bottom: -$space__3;
    }

    .m_-mb4 {
        margin-bottom: -$space__4;
    }

    .m_-mb5 {
        margin-bottom: -$space__5;
    }

    .m_-mb6 {
        margin-bottom: -$space__6;
    }

    .m_-mb7 {
        margin-bottom: -$space__7;
    }

    .m_-mb8 {
        margin-bottom: -$space__8;
    }

    .m_-mt1 {
        margin-top: -4px;
    }

    .m_-mt2 {
        margin-top: -$space__2;
    }

    .m_-mt3 {
        margin-top: -$space__3;
    }

    .m_-mt4 {
        margin-top: -$space__4;
    }

    .m_-mt5 {
        margin-top: -$space__5;
    }

    .m_-mt6 {
        margin-top: -$space__6;
    }

    .m_-mt7 {
        margin-top: -$space__7;
    }

    .m_-mt8 {
        margin-top: -$space__8;
    }

    .m_center {
        margin-right: auto;
        margin-left: auto;
    }

    .m_ma-auto {
        margin: auto;
    }

    .m_mr-auto {
        margin-right: auto;
    }

    .m_ml-auto {
        margin-left: auto;
    }

    .m_mt-auto {
        margin-top: auto;
    }

    .m_mb-auto {
        margin-bottom: auto;
    }
}

@include respond-above($break__large) {
    .l_ma0 {
        margin: 0;
    }

    .l_ma1 {
        margin: $space__1;
    }

    .l_ma2 {
        margin: $space__2;
    }

    .l_ma3 {
        margin: $space__3;
    }

    .l_ma4 {
        margin: $space__4;
    }

    .l_ma5 {
        margin: $space__5;
    }

    .l_ma6 {
        margin: $space__6;
    }

    .l_ma7 {
        margin: $space__7;
    }

    .l_ma8 {
        margin: $space__8;
    }

    .l_ml0 {
        margin-left: 0;
    }

    .l_ml1 {
        margin-left: $space__1;
    }

    .l_ml2 {
        margin-left: $space__2;
    }

    .l_ml3 {
        margin-left: $space__3;
    }

    .l_ml4 {
        margin-left: $space__4;
    }

    .l_ml5 {
        margin-left: $space__5;
    }

    .l_ml6 {
        margin-left: $space__6;
    }

    .l_ml7 {
        margin-left: $space__7;
    }

    .l_ml8 {
        margin-left: $space__8;
    }

    .l_mr0 {
        margin-right: 0;
    }

    .l_mr1 {
        margin-right: $space__1;
    }

    .l_mr2 {
        margin-right: $space__2;
    }

    .l_mr3 {
        margin-right: $space__3;
    }

    .l_mr4 {
        margin-right: $space__4;
    }

    .l_mr5 {
        margin-right: $space__5;
    }

    .l_mr6 {
        margin-right: $space__6;
    }

    .l_mr7 {
        margin-right: $space__7;
    }

    .l_mr8 {
        margin-right: $space__8;
    }

    .l_mb0 {
        margin-bottom: 0;
    }

    .l_mb1 {
        margin-bottom: $space__1;
    }

    .l_mb2 {
        margin-bottom: $space__2;
    }

    .l_mb3 {
        margin-bottom: $space__3;
    }

    .l_mb4 {
        margin-bottom: $space__4;
    }

    .l_mb5 {
        margin-bottom: $space__5;
    }

    .l_mb6 {
        margin-bottom: $space__6;
    }

    .l_mb7 {
        margin-bottom: $space__7;
    }

    .l_mb8 {
        margin-bottom: $space__8;
    }

    .l_mt0 {
        margin-top: 0;
    }

    .l_mt1 {
        margin-top: $space__1;
    }

    .l_mt2 {
        margin-top: $space__2;
    }

    .l_mt3 {
        margin-top: $space__3;
    }

    .l_mt4 {
        margin-top: $space__4;
    }

    .l_mt5 {
        margin-top: $space__5;
    }

    .l_mt6 {
        margin-top: $space__6;
    }

    .l_mt7 {
        margin-top: $space__7;
    }

    .l_mt8 {
        margin-top: $space__8;
    }

    .l_mv0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .l_mv1 {
        margin-top: $space__1;
        margin-bottom: $space__1;
    }

    .l_mv2 {
        margin-top: $space__2;
        margin-bottom: $space__2;
    }

    .l_mv3 {
        margin-top: $space__3;
        margin-bottom: $space__3;
    }

    .l_mv4 {
        margin-top: $space__4;
        margin-bottom: $space__4;
    }

    .l_mv5 {
        margin-top: $space__5;
        margin-bottom: $space__5;
    }

    .l_mv6 {
        margin-top: $space__6;
        margin-bottom: $space__6;
    }

    .l_mv7 {
        margin-top: $space__7;
        margin-bottom: $space__7;
    }

    .l_mv8 {
        margin-top: $space__8;
        margin-bottom: $space__8;
    }

    .l_mh0 {
        margin-left: 0;
        margin-right: 0;
    }

    .l_mh1 {
        margin-left: $space__1;
        margin-right: $space__1;
    }

    .l_mh2 {
        margin-left: $space__2;
        margin-right: $space__2;
    }

    .l_mh3 {
        margin-left: $space__3;
        margin-right: $space__3;
    }

    .l_mh4 {
        margin-left: $space__4;
        margin-right: $space__4;
    }

    .l_mh5 {
        margin-left: $space__5;
        margin-right: $space__5;
    }

    .l_mh6 {
        margin-left: $space__6;
        margin-right: $space__6;
    }

    .l_mh7 {
        margin-left: $space__7;
        margin-right: $space__7;
    }

    .l_mh8 {
        margin-left: $space__8;
        margin-right: $space__8;
    }

    .l_-ma1 {
        margin: -4px;
    }

    .l_-ma2 {
        margin: -$space__2;
    }

    .l_-ma3 {
        margin: -$space__3;
    }

    .l_-ma4 {
        margin: -$space__4;
    }

    .l_-ma5 {
        margin: -$space__5;
    }

    .l_-ma6 {
        margin: -$space__6;
    }

    .l_-ma7 {
        margin: -$space__7;
    }

    .l_-ma8 {
        margin: -$space__8;
    }

    .l_-ml1 {
        margin-left: -4px;
    }

    .l_-ml2 {
        margin-left: -$space__2;
    }

    .l_-ml3 {
        margin-left: -$space__3;
    }

    .l_-ml4 {
        margin-left: -$space__4;
    }

    .l_-ml5 {
        margin-left: -$space__5;
    }

    .l_-ml6 {
        margin-left: -$space__6;
    }

    .l_-ml7 {
        margin-left: -$space__7;
    }

    .l_-ml8 {
        margin-left: -$space__8;
    }

    .l_-mr1 {
        margin-right: -4px;
    }

    .l_-mr2 {
        margin-right: -$space__2;
    }

    .l_-mr3 {
        margin-right: -$space__3;
    }

    .l_-mr4 {
        margin-right: -$space__4;
    }

    .l_-mr5 {
        margin-right: -$space__5;
    }

    .l_-mr6 {
        margin-right: -$space__6;
    }

    .l_-mr7 {
        margin-right: -$space__7;
    }

    .l_-mr8 {
        margin-right: -$space__8;
    }

    .l_-mb1 {
        margin-bottom: -4px;
    }

    .l_-mb2 {
        margin-bottom: -$space__2;
    }

    .l_-mb3 {
        margin-bottom: -$space__3;
    }

    .l_-mb4 {
        margin-bottom: -$space__4;
    }

    .l_-mb5 {
        margin-bottom: -$space__5;
    }

    .l_-mb6 {
        margin-bottom: -$space__6;
    }

    .l_-mb7 {
        margin-bottom: -$space__7;
    }

    .l_-mb8 {
        margin-bottom: -$space__8;
    }

    .l_-mt1 {
        margin-top: -4px;
    }

    .l_-mt2 {
        margin-top: -$space__2;
    }

    .l_-mt3 {
        margin-top: -$space__3;
    }

    .l_-mt4 {
        margin-top: -$space__4;
    }

    .l_-mt5 {
        margin-top: -$space__5;
    }

    .l_-mt6 {
        margin-top: -$space__6;
    }

    .l_-mt7 {
        margin-top: -$space__7;
    }

    .l_-mt8 {
        margin-top: -$space__8;
    }

    .l_center {
        margin-right: auto;
        margin-left: auto;
    }

    .l_ma-auto {
        margin: auto;
    }

    .l_mr-auto {
        margin-right: auto;
    }

    .l_ml-auto {
        margin-left: auto;
    }

    .l_mt-auto {
        margin-top: auto;
    }

    .l_mb-auto {
        margin-bottom: auto;
    }
}
