.white {
    color: $color__white;
}

.black {
    color: $color__black;
}

.black-300 {
    color: $color__black-300;
}

.black-500 {
    color: $color__black-500;
}

.blue {
    color: $color__blue;
}

.blue-900 {
    color: $color__blue-900;
}

.indigo {
    color: $color__indigo;
}

.purple {
    color: $color__purple;
}

.green {
    color: $color__green;
}

.yellow {
    color: $color__yellow;
}

.red {
    color: $color__red;
}

.gray {
    color: $color__gray;
}

.gray-200 {
    color: $color__gray-200;
}

.gray-300 {
    color: $color__gray-300;
}

.bg-white {
    background-color: $color__white;
}

.bg-black {
    background-color: $color__black;
}

.bg-black-500 {
    background-color: $color__black-500;
}

.bg-black-300 {
    background-color: $color__black-300;
}

.bg-blue {
    background-color: $color__blue;
}

.bg-blue-800 {
    background-color: $color__blue-800;
}

.bg-blue-900 {
    background-color: $color__blue-900;
}

.bg-indigo {
    background-color: $color__indigo;
}

.bg-purple {
    background-color: $color__purple;
}

.bg-green {
    background-color: $color__green;
}

.bg-yellow {
    background-color: $color__yellow;
}

.bg-red {
    background-color: $color__red;
}

.bg-gray {
    background-color: $color__gray;
}

.bg-gray-200 {
    background-color: $color__gray-200;
}

.bg-gray-300 {
    background-color: $color__gray-300;
}

.hover-white:hover {
    color: $color__white;
}

.hover-white:focus {
    color: $color__white;
}

.hover-black:hover {
    color: $color__black;
}

.hover-black:focus {
    color: $color__black;
}

.hover-black-300:hover {
    color: $color__black-300;
}

.hover-black-300:focus {
    color: $color__black-300;
}

.hover-black-500:hover {
    color: $color__black-500;
}

.hover-black-500:focus {
    color: $color__black-500;
}

.hover-blue:hover {
    color: $color__blue;
}

.hover-blue:focus {
    color: $color__blue;
}

.hover-blue-900:hover {
    color: $color__blue-900;
}

.hover-blue-900:focus {
    color: $color__blue-900;
}

.hover-indigo:hover {
    color: $color__indigo;
}

.hover-indigo:focus {
    color: $color__indigo;
}

.hover-purple:hover {
    color: $color__purple;
}

.hover-purple:focus {
    color: $color__purple;
}

.hover-green:hover {
    color: $color__green;
}

.hover-green:focus {
    color: $color__green;
}

.hover-yellow:hover {
    color: $color__yellow;
}

.hover-yellow:focus {
    color: $color__yellow;
}

.hover-red:hover {
    color: $color__red;
}

.hover-red:focus {
    color: $color__red;
}

.hover-gray:hover {
    color: $color__gray;
}

.hover-gray:focus {
    color: $color__gray;
}

.hover-gray-200:hover {
    color: $color__gray-200;
}

.hover-gray-200:focus {
    color: $color__gray-200;
}

.hover-gray-300:hover {
    color: $color__gray-300;
}

.hover-gray-300:focus {
    color: $color__gray-300;
}

.hover-bg-white:hover {
    background-color: $color__white;
}

.hover-bg-white:focus {
    background-color: $color__white;
}

.hover-bg-black:hover {
    background-color: $color__black;
}

.hover-bg-black:focus {
    background-color: $color__black;
}

.hover-bg-black-300:hover {
    background-color: $color__black-300;
}

.hover-bg-black-300:focus {
    background-color: $color__black-300;
}

.hover-bg-black-500:hover {
    background-color: $color__black-500;
}

.hover-bg-black-500:focus {
    background-color: $color__black-500;
}

.hover-bg-blue:hover {
    background-color: $color__blue;
}

.hover-bg-blue:focus {
    background-color: $color__blue;
}

.hover-bg-blue-900:hover {
    background-color: $color__blue-900;
}

.hover-bg-blue-900:focus {
    background-color: $color__blue-900;
}

.hover-bg-indigo:hover {
    background-color: $color__indigo;
}

.hover-bg-indigo:focus {
    background-color: $color__indigo;
}

.hover-bg-purple:hover {
    background-color: $color__purple;
}

.hover-bg-purple:focus {
    background-color: $color__purple;
}

.hover-bg-green:hover {
    background-color: $color__green;
}

.hover-bg-green:focus {
    background-color: $color__green;
}

.hover-bg-yellow:hover {
    background-color: $color__yellow;
}

.hover-bg-yellow:focus {
    background-color: $color__yellow;
}

.hover-bg-red:hover {
    background-color: $color__red;
}

.hover-bg-red:focus {
    background-color: $color__red;
}

.hover-bg-gray:hover {
    background-color: $color__gray;
}

.hover-bg-gray:focus {
    background-color: $color__gray;
}

.hover-bg-gray-200:hover {
    background-color: $color__gray-200;
}

.hover-bg-gray-200:focus {
    background-color: $color__gray-200;
}

.hover-bg-gray-300:hover {
    background-color: $color__gray-300;
}

.hover-bg-gray-300:focus {
    background-color: $color__gray-300;
}
