html {
    background: $color__white;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $sans;
    font-weight: 400;
    line-height: 1.6;
    font-size: $f6;
    color: $color__black-300;
}

// Background and text color for index page.

.index {
    background: $color__indigo;

    body {
        color: $color__white;
    }
}

.post {
    background: $color__gray-200;
}
