.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-auto {
    overflow-y: auto;
}

@include respond-above($break__small) {
    .s_overflow-visible {
        overflow: visible;
    }

    .s_overflow-hidden {
        overflow: hidden;
    }

    .s_overflow-scroll {
        overflow: scroll;
    }

    .s_overflow-auto {
        overflow: auto;
    }

    .s_overflow-x-visible {
        overflow-x: visible;
    }

    .s_overflow-x-hidden {
        overflow-x: hidden;
    }

    .s_overflow-x-scroll {
        overflow-x: scroll;
    }

    .s_overflow-x-auto {
        overflow-x: auto;
    }

    .s_overflow-y-visible {
        overflow-y: visible;
    }

    .s_overflow-y-hidden {
        overflow-y: hidden;
    }

    .s_overflow-y-scroll {
        overflow-y: scroll;
    }

    .s_overflow-y-auto {
        overflow-y: auto;
    }
}

@include respond-above($break__medium) {
    .m_overflow-visible {
        overflow: visible;
    }

    .m_overflow-hidden {
        overflow: hidden;
    }

    .m_overflow-scroll {
        overflow: scroll;
    }

    .m_overflow-auto {
        overflow: auto;
    }

    .m_overflow-x-visible {
        overflow-x: visible;
    }

    .m_overflow-x-hidden {
        overflow-x: hidden;
    }

    .m_overflow-x-scroll {
        overflow-x: scroll;
    }

    .m_overflow-x-auto {
        overflow-x: auto;
    }

    .m_overflow-y-visible {
        overflow-y: visible;
    }

    .m_overflow-y-hidden {
        overflow-y: hidden;
    }

    .m_overflow-y-scroll {
        overflow-y: scroll;
    }

    .m_overflow-y-auto {
        overflow-y: auto;
    }
}

@include respond-above($break__large) {
    .l_overflow-visible {
        overflow: visible;
    }

    .l_overflow-hidden {
        overflow: hidden;
    }

    .l_overflow-scroll {
        overflow: scroll;
    }

    .l_overflow-auto {
        overflow: auto;
    }

    .l_overflow-x-visible {
        overflow-x: visible;
    }

    .l_overflow-x-hidden {
        overflow-x: hidden;
    }

    .l_overflow-x-scroll {
        overflow-x: scroll;
    }

    .l_overflow-x-auto {
        overflow-x: auto;
    }

    .l_overflow-y-visible {
        overflow-y: visible;
    }

    .l_overflow-y-hidden {
        overflow-y: hidden;
    }

    .l_overflow-y-scroll {
        overflow-y: scroll;
    }

    .l_overflow-y-auto {
        overflow-y: auto;
    }
}
